:root {
    --mand-crema: #FFE8D4;      /* Sfondo generale */
    --violetto-cremisi: #45062E;      /* Testo principale e titoli */
    --prugna-reale: #7F055F; /* Bordi o dettagli */
    --rosa-pop: #E5A4CB; /* Sfondo delle Card */
    --avorio: #EBD2BE;         /* Bottoni o accenti */
}
body {
    background-color: var(--mand-crema);
    color: var(--violetto-cremisi);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: var(--violetto-cremisi);
}

.card {
    background-color: var(--rosa-pop); /* Usa il verde chiarissimo per i box */
    border: 2px solid var(--prugna-reale);   /* Un bordo verde più scuro */
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    max-width: 450px;
    box-shadow: 4px 4px 0px var(--violetto-cremisi); /* Un'ombra "pop" solida invece che sfumata */
}
.card-img {
    width: 100%;
    height: 200px;   /* Forziamo un'altezza fissa */
    object-fit: cover; /* Taglia i bordi dell'immagine per riempire il box senza distorcerla */
}

button {
    background-color: var(--avorio); /* Il bottone spicca con l'oro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--violetto-cremisi); /* Cambia colore al passaggio */
    color: var(--mand-crema);
}

/*L'immagine non dovrebbe uscire dalla class*/
img {
    max-width: 100%; /* "Non essere mai più larga della card che ti ospita" */
    height: auto;    /* "Mantieni le tue proporzioni originali senza schiacciarti" */
    display: block;  /* Toglie lo spazio vuoto fastidioso sotto l'immagine */
}

